## [Casos positivos de COVID-19 en Colombia:](https://dev.socrata.com/foundry/www.datos.gov.co/gt2j-8ykr)

In [22]:
#!/usr/bin/env python

# make sure to install these packages before running:
#!pip install sodapy

import pandas as pd
from sodapy import Socrata

# Unauthenticated client only works with public data sets. Note 'None'
# in place of application token, and no username or password:
client = Socrata("www.datos.gov.co", None)

# Example authenticated client (needed for non-public datasets):
# client = Socrata(www.datos.gov.co,
#                  MyAppToken,
#                  userame="user@example.com",
#                  password="AFakePassword")

# First 2000 results, returned as JSON from API / converted to Python list of
# dictionaries by sodapy.
results = client.get("gt2j-8ykr", limit=10**6)

# Convert to pandas DataFrame
results_df = pd.DataFrame.from_records(results)


results_df

WARNING:root:Requests made without an app_token will be subject to strict throttling limits.

       id_de_caso    fecha_de_notificaci_n  ... nombre_grupo_etnico fecha_de_muerte
0               1  2020-03-02T00:00:00.000  ...                 NaN             NaN
1               2  2020-03-06T00:00:00.000  ...                 NaN             NaN
2               3  2020-03-07T00:00:00.000  ...                 NaN             NaN
3               4  2020-03-09T00:00:00.000  ...                 NaN             NaN
4               5  2020-03-09T00:00:00.000  ...                 NaN             NaN
...           ...                      ...  ...                 ...             ...
522133     522174  2020-08-06T00:00:00.000  ...                 NaN             NaN
522134     522175  2020-08-06T00:00:00.000  ...                 NaN             NaN
522135     522176  2020-08-06T00:00:00.000  ...                 NaN             NaN
522136     522177  2020-08-06T00:00:00.000  ...                 NaN             NaN
522137     522178  2020-08-06T00:00:00.000  ...                 NaN             NaN

[522138 rows x 21 columns]

## Columnas

In [23]:
columnas = ["id_de_caso","ciudad_de_ubicaci_n","atenci_n","edad","sexo","tipo","estado","fis","fecha_diagnostico","fecha_recuperado","tipo_recuperaci_n","fecha_de_muerte","nombre_grupo_etnico"]
df = results_df[columnas]
df

       id_de_caso  ciudad_de_ubicaci_n  ... fecha_de_muerte nombre_grupo_etnico
0               1          Bogotá D.C.  ...             NaN                 NaN
1               2  Guadalajara de Buga  ...             NaN                 NaN
2               3             Medellín  ...             NaN                 NaN
3               4             Medellín  ...             NaN                 NaN
4               5             Medellín  ...             NaN                 NaN
...           ...                  ...  ...             ...                 ...
522133     522174        Zona Bananera  ...             NaN                 NaN
522134     522175        Zona Bananera  ...             NaN                 NaN
522135     522176        Zona Bananera  ...             NaN                 NaN
522136     522177        Zona Bananera  ...             NaN                 NaN
522137     522178             Magangué  ...             NaN                 NaN

[522138 rows x 13 columns]

In [ ]:
for i,j in g:
  print(i)
  print(j.shape)

## Filtar por ciudad

In [42]:
# ver las ciudades
g = df.groupby(columnas[1])
ciudades = ["Bogotá D.C.","Cali","Barranquilla","Cartagena de Indias","Medellín"]
# diccionario
dic_df = {}


def agrupar(arreglo):
  print(arreglo)
  d = {}
  for i in arreglo:
    if (i in d):
      d[i]=d[i]+1
    else:
      d[i] = 1


def infoDF(df):
  d = {}
  ## lenar el diccionario con las clumnas 
  for u in columnas:
    d[u] = []
  # recorrer las columnas y agrupar y con tar la cantidad 
  for i in columnas :
    col = df[i].values
    d[i].append(agrupar(col))
  return (d)



#calidad fila 

# llenar diccionario
for i,j in g:
  if (i in ciudades):
    print(i)
    print(j.describe)
    dic_df[i] = j

Barranquilla
<bound method NDFrame.describe of        id_de_caso ciudad_de_ubicaci_n  ... fecha_de_muerte nombre_grupo_etnico
58             59        Barranquilla  ...             NaN                 NaN
60             61        Barranquilla  ...             NaN                 NaN
103           104        Barranquilla  ...             NaN                 NaN
125           126        Barranquilla  ...             NaN                 NaN
126           127        Barranquilla  ...             NaN                 NaN
...           ...                 ...  ...             ...                 ...
521975     522016        Barranquilla  ...             NaN                 NaN
522002     522043        Barranquilla  ...             NaN                 NaN
522059     522100        Barranquilla  ...             NaN                 NaN
522073     522114        Barranquilla  ...             NaN                 NaN
522075     522116        Barranquilla  ...             NaN                 NaN

[35226 rows x 13 columns]>
Bogotá D.C.
<bound method NDFrame.describe of        id_de_caso ciudad_de_ubicaci_n  ... fecha_de_muerte nombre_grupo_etnico
0               1         Bogotá D.C.  ...             NaN                 NaN
7               8         Bogotá D.C.  ...             NaN                 NaN
8               9         Bogotá D.C.  ...             NaN                 NaN
9              10         Bogotá D.C.  ...             NaN                 NaN
10             11         Bogotá D.C.  ...             NaN                 NaN
...           ...                 ...  ...             ...                 ...
521554     521595         Bogotá D.C.  ...             NaN                 NaN
521555     521596         Bogotá D.C.  ...             NaN                 NaN
521556     521597         Bogotá D.C.  ...             NaN                 NaN
521557     521598         Bogotá D.C.  ...             NaN                 NaN
521558     521599         Bogotá D.C.  ...             NaN                 NaN

[181775 rows x 13 columns]>
Cali
<bound method NDFrame.describe of        id_de_caso ciudad_de_ubicaci_n  ... fecha_de_muerte nombre_grupo_etnico
24             25                Cali  ...             NaN                 NaN
61             62                Cali  ...             NaN                 NaN
62             63                Cali  ...             NaN                 NaN
80             81                Cali  ...             NaN                 NaN
81             82                Cali  ...             NaN                 NaN
...           ...                 ...  ...             ...                 ...
521759     521800                Cali  ...             NaN                 NaN
521760     521801                Cali  ...             NaN                 NaN
521761     521802                Cali  ...             NaN                 NaN
521787     521828                Cali  ...             NaN                 NaN
521789     521830                Cali  ...             NaN                 NaN

[33034 rows x 13 columns]>
Cartagena de Indias
<bound method NDFrame.describe of        id_de_caso  ciudad_de_ubicaci_n  ... fecha_de_muerte nombre_grupo_etnico
6               7  Cartagena de Indias  ...             NaN                 NaN
25             26  Cartagena de Indias  ...             NaN                 NaN
26             27  Cartagena de Indias  ...             NaN                 NaN
57             58  Cartagena de Indias  ...             NaN                 NaN
72             73  Cartagena de Indias  ...             NaN                 NaN
...           ...                  ...  ...             ...                 ...
521964     522005  Cartagena de Indias  ...             NaN                 NaN
522003     522044  Cartagena de Indias  ...             NaN                 NaN
522004     522045  Cartagena de Indias  ...             NaN                 NaN
522037     522078  Cartagena de Indias  ...             NaN                 NaN
522100     522141  Cartagena de Indias  ...             NaN                 NaN

[18708 rows x 13 columns]>
Medellín
<bound method NDFrame.describe of        id_de_caso ciudad_de_ubicaci_n  ... fecha_de_muerte nombre_grupo_etnico
2               3            Medellín  ...             NaN                 NaN
3               4            Medellín  ...             NaN                 NaN
4               5            Medellín  ...             NaN                 NaN
19             20            Medellín  ...             NaN                 NaN
20             21            Medellín  ...             NaN                 NaN
...           ...                 ...  ...             ...                 ...
519360     519401            Medellín  ...             NaN                 NaN
519361     519402            Medellín  ...             NaN                 NaN
519366     519407            Medellín  ...             NaN                 NaN
519392     519433            Medellín  ...             NaN                 NaN
519395     519436            Medellín  ...             NaN                 NaN

[39058 rows x 13 columns]>

In [43]:
df1 = dic_df["Bogotá D.C."]

info = infoDF(df1)
info

['1' '8' '9' ... '521597' '521598' '521599']
['Bogotá D.C.' 'Bogotá D.C.' 'Bogotá D.C.' ... 'Bogotá D.C.' 'Bogotá D.C.'
 'Bogotá D.C.']
['Recuperado' 'Recuperado' 'Recuperado' ... 'Casa' 'Casa' 'Casa']
['19' '22' '28' ... '32' '49' '66']
['F' 'F' 'F' ... 'M' 'F' 'M']
['Importado' 'Importado' 'Importado' ... 'En estudio' 'En estudio'
 'En estudio']
['Leve' 'Leve' 'Leve' ... 'Asintomático' 'Asintomático' 'Asintomático']
['2020-02-27T00:00:00.000' '2020-03-06T00:00:00.000'
 '2020-03-07T00:00:00.000' ... 'Asintomático' 'Asintomático'
 'Asintomático']
['2020-03-06T00:00:00.000' '2020-03-11T00:00:00.000'
 '2020-03-11T00:00:00.000' ... '2020-08-20T00:00:00.000'
 '2020-08-19T00:00:00.000' '2020-08-19T00:00:00.000']
['2020-03-13T00:00:00.000' '2020-03-21T00:00:00.000'
 '2020-03-23T00:00:00.000' ... nan nan nan]
['PCR' 'PCR' 'PCR' ... nan nan nan]
[nan nan nan ... nan nan nan]
[nan nan nan ... nan nan nan]

{'atenci_n': [None],
 'ciudad_de_ubicaci_n': [None],
 'edad': [None],
 'estado': [None],
 'fecha_de_muerte': [None],
 'fecha_diagnostico': [None],
 'fecha_recuperado': [None],
 'fis': [None],
 'id_de_caso': [None],
 'nombre_grupo_etnico': [None],
 'sexo': [None],
 'tipo': [None],
 'tipo_recuperaci_n': [None]}

In [ ]:
ciudades = ["Bogotá D.C.","Cali","Barranquilla","Cartagena de Indias","Medellín"]

## [Casos Positivos de COVID-19 Departamento de Atlántico:](https://dev.socrata.com/foundry/www.datos.gov.co/8his-94mc)
 - **Estado**: Corresponde a muertes no relacionadas con COVID-19, aún si eran casos activos **Hay pacientes recuperados para COVID-19, que pueden permanecer en hospitalización por otras comorbilidades.

In [ ]:
# Unauthenticated client only works with public data sets. Note 'None'
# in place of application token, and no username or password:
client = Socrata("www.datos.gov.co", None)

# Example authenticated client (needed for non-public datasets):
# client = Socrata(www.datos.gov.co,
#                  MyAppToken,
#                  userame="user@example.com",
#                  password="AFakePassword")

# First 2000 results, returned as JSON from API / converted to Python list of
# dictionaries by sodapy.
results = client.get("8his-94mc", limit=2000)

# Convert to pandas DataFrame
results_df = pd.DataFrame.from_records(results)
results_df

WARNING:root:Requests made without an app_token will be subject to strict throttling limits.

   ciudad_de_ubicaci_n estado
0              Baranoa   1920
1     Campo de la Cruz    129
2           Candelaria    166
3               Galapa   1527
4       Juan de Acosta    226
5              Luruaco    144
6              Malambo   2559
7               Manatí    232
8     Palmar de Varela    497
9                Piojó     42
10           Polonuevo    466
11            Ponedera    219
12     Puerto Colombia   1360
13             Repelón    151
14        Sabanagrande    724
15         Sabanalarga   1884
16         Santa Lucía    129
17         Santo Tomás    689
18             Soledad  13438
19                Suan    130
20              Tubará    343
21            Usiacurí    169

## [Cifras de COVID-19 en el Departamento de Atlántico](https://dev.socrata.com/foundry/www.datos.gov.co/r56h-vups)

In [ ]:
# Unauthenticated client only works with public data sets. Note 'None'
# in place of application token, and no username or password:
client = Socrata("www.datos.gov.co", None)

# Example authenticated client (needed for non-public datasets):
# client = Socrata(www.datos.gov.co,
#                  MyAppToken,
#                  userame="user@example.com",
#                  password="AFakePassword")

# First 2000 results, returned as JSON from API / converted to Python list of
# dictionaries by sodapy.
results = client.get("r56h-vups", limit=2000)

# Convert to pandas DataFrame
results_df = pd.DataFrame.from_records(results)
results_df

WARNING:root:Requests made without an app_token will be subject to strict throttling limits.

   ciudad_de_ubicaci_n   tipo fecha_recuperado fecha_de_muerte
0              Baranoa   1920             1618              73
1     Campo de la Cruz    129              105               5
2           Candelaria    166              103               3
3               Galapa   1527             1307              78
4       Juan de Acosta    226              143               6
5              Luruaco    144              114               4
6              Malambo   2559             2194             149
7               Manatí    232              121               4
8     Palmar de Varela    497              355              18
9                Piojó     42               37               1
10           Polonuevo    466              308              19
11            Ponedera    219              157              13
12     Puerto Colombia   1360             1177              62
13             Repelón    151               71               6
14        Sabanagrande    724              678              16
15         Sabanalarga   1884             1359              60
16         Santa Lucía    129              109               4
17         Santo Tomás    689              574              28
18             Soledad  13438            11687             691
19                Suan    130               91               7
20              Tubará    343              256              22
21            Usiacurí    169              153               7

## [Pruebas PCR procesadas de COVID-19 en Colombia (Departamental)](https://dev.socrata.com/foundry/www.datos.gov.co/8835-5baf)

In [ ]:
# Unauthenticated client only works with public data sets. Note 'None'
# in place of application token, and no username or password:
client = Socrata("www.datos.gov.co", None)

# Example authenticated client (needed for non-public datasets):
# client = Socrata(www.datos.gov.co,
#                  MyAppToken,
#                  userame="user@example.com",
#                  password="AFakePassword")

# First 2000 results, returned as JSON from API / converted to Python list of
# dictionaries by sodapy.
results = client.get("8835-5baf", limit=2000)

# Convert to pandas DataFrame
results_df = pd.DataFrame.from_records(results)
results_df

WARNING:root:Requests made without an app_token will be subject to strict throttling limits.

                       fecha acumuladas  ... cartagena santa_marta
0              Acumulado Feb        601  ...       NaN         NaN
1    2020-03-05T00:00:00.000        636  ...       NaN         NaN
2    2020-03-06T00:00:00.000        739  ...       NaN         NaN
3    2020-03-07T00:00:00.000        810  ...       NaN         NaN
4    2020-03-08T00:00:00.000        813  ...       NaN         NaN
..                       ...        ...  ...       ...         ...
166  2020-08-17T00:00:00.000    2210712  ...     89771       35526
167  2020-08-18T00:00:00.000    2246595  ...     90555       35756
168  2020-08-19T00:00:00.000    2277515  ...     90826       35939
169  2020-08-20T00:00:00.000    2309447  ...     91216       36250
170  2020-08-21T00:00:00.000    2340101  ...     92891       36649

[171 rows x 43 columns]

##Otra Información que nos puede ser util:
* https://www.ins.gov.co/Noticias/Paginas/Coronavirus.aspx